 body {
    background-color:  #fdf6ec;
    color: #33200a;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddc9ae;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fffaf4;
    color: #3b2a1a;
}

input[type="text"]:focus {
    outline: none;
    border-color: rgb(207, 135, 83);
}

button {
    background-color: rgb(170, 105, 55);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    
}

button:hover {
    background-color: rgb(124, 77, 40);
}


th {
   color: rgb(92, 45, 12);
   padding: 10px;
   border:6px solid rgb(92, 53, 24);
}
td{
      color: rgb(66, 31, 6);
   padding: 15px  ;
   border: 6px solid rgb(170, 105, 55);


}
img{
    width:auto;
    height:180px;
}

#navbar {
    margin-left: 20px;
}